In [53]:
from sklearn.datasets import make_blobs, make_classification, make_moons, make_regression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [110]:
blob = make_blobs(n_samples=200, n_features = 2, random_state = 42)

In [111]:
blob_df = pd.DataFrame(blob[0], blob[1])
blob_df = blob_df.reset_index(len(blob_df))
blob_df['cat'] = blob_df['index']
blob_df = blob_df.drop('index', axis =1)
blob_df.head()

          0         1  cat
0  6.505653  2.447003    1
1 -5.128943  9.836189    0
2 -6.891874 -7.777364    2
3 -8.327712 -8.287573    2
4 -7.468992 -6.030507    2

In [107]:
blob_df.to_pickle('./data/Blob_data')

In [112]:
cl = make_classification(n_samples = 500, n_features= 10)

In [113]:
cl_df = pd.DataFrame(cl[0], cl[1])

In [114]:
cl_df.head()

,0,1,2,3,4,5,6,7,8,9
1,-1.315820,1.316543,0.164066,-0.253837,-0.294866,-1.270752,-0.725395,0.223158,-0.053368,-0.958498
0,3.483923,-2.057793,-2.309601,-0.614573,2.189763,1.642445,-0.290255,0.233515,0.450576,-0.015899
1,-1.380088,0.703176,1.061945,-0.721501,0.187267,-0.515582,-0.532107,-0.344521,0.173154,0.118267
1,-0.764939,-0.317916,1.517854,-1.419710,-0.325702,0.567637,-0.186455,0.102932,1.031200,-0.209478
1,0.780307,-1.968857,1.462856,-0.667439,0.755069,2.186395,0.140748,-2.351874,0.236725,-1.750291

In [115]:
cl_df.to_pickle('./data/Classification_data')

In [85]:
moon = make_moons(n_samples=200, noise = .2,)

In [86]:
moons_df = pd.DataFrame(moon[0],moon[1])

In [88]:
moons_df.head()

          0         1
0  0.738231  0.347018
1  1.168831 -0.270933
0  0.439254  0.939480
0 -0.363235  0.598686
1  1.646107  0.208709

In [89]:
moons_df.to_pickle('./data/Moon_data')

In [90]:
reg = make_regression(n_samples=200, n_features=50)

In [91]:
reg_df = pd.DataFrame(reg[0], reg[1])

In [92]:
reg_df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
29.693768,-0.960844,1.104013,0.188618,0.771909,1.266798,1.047996,-2.264451,0.297272,-0.357551,1.549026,...,-2.557070,0.009603,0.597870,-0.630841,-0.509728,-2.181471,1.088205,0.462676,0.402560,1.648875
99.190623,-0.981810,-1.347724,1.242129,0.065567,0.998121,0.201648,-1.132164,1.075982,0.751933,-0.492986,...,0.071227,-0.519148,-2.388020,-0.387731,0.638493,1.898629,0.668017,-0.674447,1.074187,-1.731623
2.583085,0.247109,1.414377,0.164029,-0.184488,-0.638166,-0.954320,-1.537670,-0.221346,0.043077,1.348052,...,-0.133726,2.050685,-2.078364,0.701582,0.357169,-1.130540,0.652277,-0.088746,-0.732037,0.423196
5.378527,0.302444,-0.864717,1.124540,0.523972,-0.072773,-0.430844,1.269301,2.062387,0.390371,1.037923,...,-1.446618,-1.141955,-0.381624,-0.512608,1.141325,0.083623,0.131946,-0.197131,-0.278667,0.821753
-67.718738,1.100518,0.001302,-1.376350,0.150029,0.982911,0.499322,0.271806,-1.125217,1.299024,0.032805,...,0.248269,-0.737178,-0.713215,-0.101899,-0.956142,-1.915911,-0.711593,-0.826700,-0.458187,-1.256073

In [93]:
reg_df.to_pickle('./data/Regression_data')